<div class="header-wrapper">
  <div class="content-wrapper">
    <div class="logo">
      <a href="" class="vite-icon">
        <img src="assets/vite-logo.svg" height="40px" width="40px" alt="">
        <span class="vite-title">Vite</span>
      </a>
    </div>
    <div class="searched-field">
        <input type="text" placeholder="Search">
    </div>
    <div class="header-content">
      <u>
        <li>Guide</li>
        <li>Config</li>
        <li>Plugins</li>
        <li>Resources</li>
        <li>Version</li>
        <li>Language</li>
        <li>Theme</li>
        <li>Contact</li>
      </u>
    </div>
  </div>
</div>
