<div class="header-wrapper">
  <div class="logo">
    <div class="title">
      <a href="" class="vite-icon">
        <img src="assets/vite-logo.svg" height="40px" width="40px" alt="" />
        <span class="vite-title">Vite</span>
      </a>
    </div>
    <div class="searched-field">
      <input type="text" placeholder="Search" />
    </div>
  </div>
  <div class="header-content">
    <div class="left-content">Guide</div>
    <div class="left-content">Config</div>
    <div class="left-content">Plugins</div>
    <div class="left-content">Resources</div>
    <div class="left-content">Version</div>
    <div class="symbol"></div>
    <div class="left-content">Language</div>
    <div class="symbol"></div>
    <div class="wrapper">
      <input type="checkbox" name="checkbox" class="switch" />
    </div>
    <div class="symbol"></div>
    <div class="left-content">Contact</div>
  </div>
</div>

