<div class="wrapper">
    <div class="items">
      <div class="item1">
        <div class="icon">💡</div>
        <h2 class="title">Instant Server Start</h2>
        <p class="details">
          On demand file serving over native ESM, no bundling required!
        </p>
      </div>
      <div class="item2">
        <div class="icon">⚡️</div>
        <h2 class="title">Lightning Fast HMR</h2>
        <p class="details">
          Hot Module Replacement (HMR) that stays fast regardless of app size.
        </p>
      </div>
      <div class="item3">
        <div class="icon">🛠️</div>
        <h2 class="title">Rich Features</h2>
        <p class="details">
          Out-of-the-box support for TypeScript, JSX, CSS and more.
        </p>
      </div>
      <div class="item4">
        <div class="icon">📦</div>
        <h2 class="title">Optimized Build</h2>
        <p class="details">
          Pre-configured Rollup build with multi-page and library mode support.
        </p>
      </div>
      <div class="item5">
        <div class="icon">🔩</div>
        <h2 class="title">Universal Plugins</h2>
        <p class="details">
          Rollup-superset plugin interface shared between dev and build.
        </p>
      </div>
      <div class="item6">
        <div class="icon">🔑</div>
        <h2 class="title">Fully Typed APIs</h2>
        <p class="details">
          Flexible programmatic APIs with full TypeScript typing.
        </p>
      </div>
    </div>
  </div>
<app-middle-section></app-middle-section>
