<div class="info-wrapper">
  <div class="info-section">
    <div class="info-summery">
      <h1>
        <span>Vite</span>
      </h1>
      <p class="text">
        Next Generation Forntend Tooling
      </p>
      <p class="tagline">
        Get ready for a development environment that can finally catch up with you.
      </p>
    </div>
    <div class="info-avator">
      <img src="assets/vite-logo.svg" height="340px" width="340px" alt="" />
    </div>
  </div>
</div>
<div class="social-links">
  <div>
    <button class="primary">Get Started</button>
  </div>
  <div>
    <button class="light">Why Vite</button>
  </div>
  <div>
    <button class="light">View on GitHub</button>
  </div>
  <div>
    <button class="primary"> 🎉 ViteConf 23!</button>
  </div>
</div>
  <app-card-list></app-card-list>
